/* Default: Dark Mode */
body.dark-mode {
  background-color: #1d2549;
  color: white;
}

/* Light Mode Overrides */
body.light-mode {
  background-color: antiquewhite;
  color: #1d2549;
}

/* Text elements */
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h6,
body.light-mode p,
body.light-mode pre,
body.light-mode li {
  color: #1d2549;
}

/* Button styles */
body.light-mode .btn {
  color: #1d2549;
  border-color: #1d2549;
}

body.light-mode .btn:hover {
  background-color: #1d2549;
  color: white;
}

/* Volunteer card */
body.light-mode .volunteer-card {
  color: #1d2549;
  box-shadow: 0 4px 8px gray;
}

body.light-mode .volunteer-card:hover {
  color: #bdf347;
  box-shadow: 0 8px 16px #bdf347;
}

/* Contact box */
body.light-mode .contact-box h2,
body.light-mode .contact-box h5 {
  color: #1d2549;
}

/* Header links */
body.light-mode .header-home a,
body.light-mode .header-links a {
  color: #1d2549;
}

body.light-mode .header-home a:hover,
body.light-mode .header-links a:hover {
  color: gray;
}

/* Toggle button */
.mode-toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid #bdf347;
  background: transparent;
  color: #bdf347;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999;
}

.light-mode .mode-toggle-btn{
    background-color: #1d2549;
}
.light-mode .mode-toggle-btn:hover {
  background-color: #bdf347;
  color: #1d2549;
}
.dark-mode .mode-toggle-btn:hover {
  background-color: #bdf347;
  color: #1d2549;
}

.dark-mode .profile-info a:hover{
    background-color: #bdf347;
    color: #1d2549;
}
.light-mode .contact-box{
    box-shadow:0 0 15px #1d2549;
}

.light-mode .site-footer{
    background-color: #1d2549;
    color: #bdf347;
}
.light-mode .footer-links a{
    color: #bdf347;
}
.light-mode .footer-content p{
    color: #bdf347;
}

.light-mode .profile-img img,.light-mode .about-img img{
    width: 350px;
    max-width: 100%;
    height: auto;
    border-radius: 150px 150px 15px 15px;
    border: solid 6px #1d2549;
    object-fit: cover;
    box-shadow: 0 4px 12px #1d2549;
}

.light-mode .contact-box button{
    background-color: #1d2549;
    color: #bdf347;
}

.profile-info h1{
    width: 28ch;
    text-wrap: nowrap;
    white-space: nowrap;  /*keeps the text in one line (needed for typing effect).*/
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate;
}

@keyframes typing{
    from{
        width: 0ch;
    }
    to{
        width: 20ch;
    }
}